@charset "utf-8";
/* CSS Document */

.modal-dialog {
    position:absolute;
    width: 25%;
    background-color: #F1BAD5;
    padding: 15px;
    text-align: center;
    font-size: 1em;
    border-radius: 10px;
}
.modal-content .modal-body {
	font-size: .75em;
	margin: 0;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-style: italic;
	font-weight: 400;
	text-align: center;
}

@media (min-width: 575px) {
	.modal-dialog {
	position:absolute;
    width: 100%;
    background-color: #F1BAD5;
    padding: 15px;
    text-align: center;
    font-size: 1em;
    border-radius: 10px;
	}
	.modal-content .modal-body {
	font-size: .75em;
	margin: 0;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-style: italic;
	font-weight: 400;
	text-align: center;	
	}
}

